h2.pagetitle{
    padding: 7px 0;
    background: #132972;
    color: #fff;
    border: none;
    font-size: 13px;
    font-weight: 500;
    display: block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.tipoUsuario{
    display: none;
}

.errorMessage {
    margin: 0 0 20px 0;
    border: 1px solid red;
    padding: 10px;
    border-radius: 5px;
    background: #fff2f2;
    font-size: 13px;
    color: red;
  }