
.carrossel {    
  width: 100%;    
  overflow: hidden;    
  height: 70vh;     
}
img{
  width: 100%;
}
.embla__container {
  display: flex;
  height: 500px;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}