h2.pagetitle{
    padding: 7px 0;
    background: #132972;
    color: #fff;
    border: none;
    font-size: 13px;
    font-weight: 500;
    display: block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.listaUsuarios{
    .item{
        background: #fff;
        padding: 5%;
        margin: 0 0 20px 0;
        box-shadow: 0 3px 3px rgba(0,0,0,.1);
        position: relative;

        h3{
            font-size: 17px;
        }
        p{
            margin: 0;
            font-size: 14px;
        }        
        button{
            background: #fff;            
            padding: 5px 10px;
            width: auto;
            position: absolute;            
            font-size: 11px;
            top: 25px;     
            letter-spacing: 0;      

            &.excluir{
                border: 1px solid red;
                color: red;
                right: 15px;
            }
            &.editar{
                border: 1px solid rgb(82, 87, 148);
                color:  rgb(82, 87, 148);
                right: 95px;
            }
        }
    }
}

.confirmation-message{
    display: inline-block;
    transition: all .3s;
    padding: 15px;
    border-radius: 5px;
    background-color: #c5f4ca;
    border: 1px solid #23872c;
    color: #23872c;
    font-size: 16px;
    font-weight: 500;
    margin: 20px 0;
}

.loading {
    text-align: center;
    padding: 20px;
    color: #666;
}