/*@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body{
  font-family: "Inter", serif;
  background: #f9fafc;
  font-size: 18px;
  transition: background-color 0.3s ease;
}
/* Estilo específico para páginas de autenticação */
body.user-page {
  background-color: #340f8b;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{    
    width: 94%;
    max-width: 700px;
    margin: 0 auto;      
    display: flex;
    flex-direction: column;    
}

img{
  max-width: 100%;
}

img{
  max-width: 100%;
  height: auto;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a{
  color: #000;
  text-decoration: none;
}

table{
  width: 100%;
  background: #fff;
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
  overflow: hidden;
  font-size: 16px;

  & thead{
    background: #000;
    & th{      
      padding: 15px;
      color: #fff;
    }   
  }

  tbody{
    & tr{
      & td{
        padding: 15px;
      }
    }    
  }
}

form{
  width: 100%;

  & .form-item{
    width: 100%;    
  }
  .col-1{
    width: 70%;
  }
  .col-2{
    width: 30%;
  }
  label{
    font-weight: 700;
    margin-bottom: 7px;
    display: inline-block;
    font-size: 16px;
    font-family: "Roboto", serif;  
  }
  & input,
  select,
  & textarea{
    width: 100%;
    max-width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px; 
    margin-bottom: 20px; 
    font-size: 16px;
    font-family: "Montserrat", serif;
  } 

  & input[type="file"]{
    font-size: 14px;
  }
  
  & textarea{
    min-height: 100px;
  }
}

::placeholder{
  font-size: 16px;
}

button{
  color: #fff;  
  border-radius: 10px;
  border: none;
  width: 100%;
  max-width: 300px;
  margin: 15px auto;
  font-weight: 500;  
  cursor: pointer;  
  font-weight: bold;
  padding: 15px;
  margin: auto;
  width: 100%;
  max-width: 100%;
  background: #1b0855;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 14px;
  margin-bottom: 20px;

  &:hover{    
    background-color: rgb(7, 7, 109);
  }
}


a.delete-button{
  border: 2px solid #ff0000;
  color: #ff0000;
  background: #fff;    
  padding: 5px;
  border-radius: 7px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 0;
  
  font-size: 14px;

  svg{
    width: 15px;
    height: 15px;
  }

  &:hover,
  &:active{
    background-color: #ff0000;
    color: #fff;
  }
}   


form .extras{  
  & p{
    margin: 25px 0 10px 0;
    font-size: 15px;
    text-align: center;

    & a{
      font-weight: bold;
      color: #340f8b;
      text-decoration: underline;
    }
  }
}

#main{
  padding: 20px 0 90px 0; 
  margin: 0; 
}

.row{
  display: flex;

  & .col{
    width: 50%;
  }

  & .col-1{
    margin-right: 10px;
  }
  & .col-2{
    margin-left: 10px;
  }
}
  @media(orientation:portrait){
    .row{
      flex-direction: column;

      & .col{
        width: 100%;
      }

      & .col-1{
        margin-right: 0;
      }
      & .col-2{
        margin-left: 0;
      }
    }
  }

#main{  
  & h1{
    margin: 40px 0;
  }
}

