/* front/src/pages/Usuario/EsqueciSenha/styles.module.css */
/* Copie os estilos do arquivo styles.module.css da página de login */

.instructions {
    text-align: center;
    margin-bottom: 20px;
    color: #666;
  }
  
  