.listaUsuarios{
    background: #fff;
    padding: 25px;
    margin: 40px 0;
    box-shadow: 0 5px 5px rgba(0,0,0,.1);

    & .item{
        margin: 0 0 20px 0;
        padding: 0 0 20px 0;
        border-bottom: 1px solid #ccc;
    }
}

.confirmation-message{
    display: inline-block;
    transition: all .3s;
    padding: 15px;
    border-radius: 5px;
    background-color: #c5f4ca;
    border: 1px solid #23872c;
    color: #23872c;
    font-size: 16px;
    font-weight: 500;
    margin: 20px 0;
}