h2.pagetitle{
    padding: 7px 0;
    //background: linear-gradient(90deg, rgb(129, 0, 255) 0%, rgb(201, 0, 255) 100%);
    background: linear-gradient(90deg, #9944fb 0%, #5f3ff8 100%);
    color: #fff;
    border: none;
    font-size: 13px;
    font-weight: 500;
    display: block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 22px;
    padding: 20px 5% 55px 5%;
    text-align: left;
}
